

@media screen and (max-width: 1780px) {

	.Centerer
	{

		  display: inline-block;
			width:50%;
			height:42%;
			padding-right:300px;


	}
.tweededeel{
	height: 1000px;
}
.algemeenmain{
      padding-top:250px;
}

#eerstekaderindex{
	width: 100%;
}
#MOW{
	width: 100%;
}

#derdekaderindex{
	width: 100%;
}
#vierdekaderindex{
	margin-top: 10px;
	width: 100%;
}






#briomarve{
	height: 720px;
}
#kneebreaker{
	height: 750px;
}
#ben{
	height: 900px;
}
#floutingunicorn{
	height: 720px;
}






.kleinekader{
	width: 45%;

}








.rag{
	height: 1400px;
}
#eerstekaderrag{
	width: 100%;
}
#tweedekaderrag{
	width: 100%;
	margin-top: 10px;
}
#derdekaderrag{
	width: 100%;
	margin-top: 10px;
}
#vierdekaderrag{
	width: 100%;
	padding:0;
}




.werkers{
	height: 720px;
}
.personen{
	width: 20%;
	float: left;
	margin-right: auto;
	margin-right: auto;
}
.streep{
	display: none;
}









.headquarters{
	height: 720px;
}

.eerstekaderhq{
	width: 100%;
}
.tweedekaderhq{
	width: 50%;
	float: right;
	margin-top: 10px;
}




.formulier{
	height: 720px;
}
.tweedekaderformulier{
	width: 100%;
}
.tweedekaderformulier #naam{
	width: 100%;
}
.tweedekaderformulier #emailadres{
	width: 100%;
}
















}
