/* ---------------------TALENTS FIRST PAGE--------------------- */

.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.home-mast {
  height: 100vh;
}
.home-mast__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.home-mast__container > * {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1em;
  -webkit-transition: flex-grow 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, -webkit-box-flex 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: flex-grow 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, -webkit-box-flex 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: flex-grow 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: flex-grow 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, -webkit-box-flex 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, -ms-flex-positive 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}
.home-mast__container > *:hover {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}
.home-mast__container > *:nth-child(1):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: #e7e5c6;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.home-mast__container > *:nth-child(1):hover:after {
  opacity: 0.65;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.home-mast__container > *:nth-child(2):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: #223b5b;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.home-mast__container > *:nth-child(2):hover:after {
  opacity: 0.65;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.home-mast__container > *:nth-child(3):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: #f52839;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.home-mast__container > *:nth-child(3):hover:after {
  opacity: 0.65;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.home-mast__container > *:nth-child(4):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: #8fd397;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.home-mast__container > *:nth-child(4):hover:after {
  opacity: 0.65;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
/* --------------------- END OF TALENTS FIRST PAGE--------------------- */


.home-mast__container p{
  text-align: center;
  color: black;
vertical-align: middle;
line-height: 800px; 
}